div#helpDialog(title='Help')
  ul
    li When you first enter the park bench panel you will be a listener and your microphone will be muted
    li When you want to speak hit the 'Talk' button
    li If there is a spare place then you will become a speaker and your microphone will be unmuted
    li If there is not enough space then you will be put in the waiting queue until one of the current speakers gives up their place
    li If you are a speaker and want to give up your place then hit 'Done talking' and you will become a listener and your microphone will be muted
    li If your connection is lost, even temporarily, then you will be become a listener when you return

