extends pbp-base-page

block append scripts
  script(src='https://hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.3')
  script(type='text/javascript')
    var SPEAKER_QUEUE_SIZE = gadgets.views.getParams()['speakerQueueSize'] || 3;
    var renderer = renderer();
