extends pbp-base-page

block append scripts
  script(src='#{url}/../javascripts/test/fake-gapi.js')
  script(src='#{url}/../javascripts/test/testing-renderer.js')
  script(type='text/javascript')
    var renderer = testingRenderer(renderer());
    gapi = { hangout : getFakeGapi(renderer) };

block append body
  hr
  div
    label(for='localParticipantSelect') Current local participant
    select#localParticipantSelect(onchange='gapi.hangout.participantSelectChanged();')
    label(for='microphoneMuted') Local participant microphone muted
    input#microphoneMuted(type='checkbox', onclick='return false')
    input#btnRemoveParticipant.button(type='button', value='Remove', onclick='gapi.hangout.removeTestParticipant()')
  div
    label(for='displayName') Name
    input#displayName.text(type='text')
    input#btnAddParticipant.button(type='button', value='Add new participant', onclick='gapi.hangout.addTestParticipant()')
  div
    input#btnAddParticipant.button(type='button', value='Display speaker queue', onclick='var q = gapi.hangout.getSpeakerQueue(); alert([Object.keys(q),Object.keys(q).map(function (k) { return q[k].timestamp })])')
