body {
  font-size: 100%;
  font-family: 'Trebuchet MS';
}
h1 {
  border: 1px solid #4297d7;
  border-radius: 10px;
  background: #2191c0;
  padding-left: 0.5em;
  margin: 0.5em;
  color: #fff;
  font-size: 1.5em;
}
ul {
  list-style-type: none;
}
ul li {
  border: 1px solid #00f;
  margin: 0.2em 0.2em;
  border-radius: 0.5em;
  text-align: center;
  width: 80%;
}
ul li.localParticipant {
  color: #000;
}
ul li:hover,
ul li:focus,
ul li:active {
  opacity: 0.5;
}
#listenerList li {
  background: #f00;
}
#waitingList li {
  background: #ffa500;
}
#speakerList li {
  background: #008000;
}
input[type='button'] {
  font-size: 0.9em;
  color: #123d54;
  padding: 5px 10px;
  background: -moz-linear-gradient(top, #afd9fa 0%, #588fad);
  background: -webkit-gradient(linear, left top, left bottom, from(#afd9fa), to(#588fad));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #036;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.3);
}
