body 
    font-size:100%
    font-family: 'Arial'


h1  
    border: 1px solid #4297d7
    border-radius: 10px
    background: #2191c0
    padding-left: .5em
    margin: .5em
    color: white
    font-size:1.1em


ul
    list-style-type:none
    /*width:15em;*/


ul li
    border:1px solid blue
    margin:.2em .2em
    border-radius:.5em
    text-align:center
    width: 80%


ul li.localParticipant 
    font-weight:bold
    font-style:italic


ul li:hover, ul li:focus, ul li:active
  opacity:.5

#listenerList li
  background:red
#waitingList li
  background:orange
#speakerList li
  background:green

input[type='button'] 
    background:LightBlue; 
    border:1px solid blue; 
    margin:.2em; 
    border-radius:7px; 
    text-align:center; 
    padding:.2em 4em
