body {
  font-family: 'Trebuchet MS', Arial;
}
h1,
h2 {
  border: 1px solid #4297d7;
  border-radius: 10px;
  background: #2191c0;
  padding-left: 0.5em;
  margin: 0.5em;
  color: #000;
  font-size: 1.35em;
}
h2 {
  padding-left: 0.8em;
  font-size: 1.2em;
  color: #fff;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}
ul li {
  font-size: 1em;
  border: 1px solid #00f;
  margin: 0.15em;
  border-radius: 0.5em;
  text-align: center;
}
ul li.localParticipant {
  color: #000;
}
ul li:hover,
ul li:focus,
ul li:active {
  opacity: 0.5;
}
#listenerList li {
  background: #f00;
}
#waitingList li {
  background: #ffa500;
}
#speakerList li {
  background: #008000;
}
#buttons {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
input[type='button'] {
  font-size: 0.8em;
  color: #123d54;
  padding: 3px 5px;
  background: -moz-linear-gradient(top, #afd9fa 0%, #588fad);
  background: -webkit-gradient(linear, left top, left bottom, from(#afd9fa), to(#588fad));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #036;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.3);
}
